html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #b3e820;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #0000cd;
  color: #fffff0;
}

button {
  text-align: left;
  border-color: #b3e820;
  background-color: #0000cd;
  color: #fffff0;
}

#attention {
  color: #e9967a;
}

span {
  color: #b3e820;
}

main {
  padding: 0;
  margin: 0;
  height: 500;
  width: 500;
  position: relative;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}
canvas {
  position: absolute;
}

#canvas0 {
  z-index: 1;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: #fffff0;
}

#canvas1 {
  z-index: 2;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #0000cd;
  text-align: center;
  color: #fffff0;
}
